<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../../functions/redirect.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="logoutButton">Logout</button>
    <h1 id="logo" class="logo">Welcome</h1>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique, dolor eget commodo fermentum.</p>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../functions/logout.js"></script>
</body>
</html>